.spotify__app {
  display: grid;
  height: 100vh;
  padding: 8px;
  gap: 8px;

  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 72px;

  grid-template-areas:
    "lateral-izquierda principal lateral-derecha"
    "reproductor reproductor reproductor";
}

.barra-lateral {
  @extend %panel;

  &--izquierda {
    grid-area: lateral-izquierda;
  }

  &--derecha {
    grid-area: lateral-derecha;
  }
}
